<div class="topnav" id="myTopnav">
  <a class="navbar-brand" routerLink='/'>All News</a>
  <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
  <div class="dropdown">
    <button class="dropbtn">News Sites
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="dropdown-item" routerLink="/news/punch">Punch News Nigeria</a>
      <a class="dropdown-item" routerLink="/news/leadership">Leadership News Nigeria</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Blogs
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a class="dropdown-item" routerLink="/blog/lindaikejisblog">Linda Ikejis Blog</a>
    </div>
  </div>
  <a href="#about">About</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
</div>