<html>

<body>

  <main role="main">
      <section class="jumbotron text-center">
        
          <ngb-carousel *ngIf="carouselImages">
            <span *ngFor="let news of carouselImages">
              <ng-template ngbSlide>
                <img [src]="news.image" alt="Random first slide">
                <div class="carousel-caption">
                  <span style="background-color: #000000; color:#ffffff">{{news.title}}</span>
                </div>
              </ng-template>
  
            </span>
          </ngb-carousel>
      </section>

    <div class="album py-5 bg-light">
      <div class="container" >

        <div class="row" >
          <div class="col-md-4" *ngFor='let blog of lindaBlog | async'>
              <a href={{blog.href}} target="_blank">
            <div class="card mb-4 shadow-sm">
              <svg width="100%" height="100%"
  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <image [attr.xlink:href]=blog.image height="100%" width="100%"/>
</svg>
              <div class="card-body">
                <h6 class="card-title"><strong>{{blog.title}}</strong></h6>
                <p class="card-text"><small>{{blog.summary}}</small> </p>
                <small class="text-muted">{{blog.date}}</small>
              </div>
            </div>
          </a>

          </div>

        </div>

      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
</body>

</html>
