<html>

<body>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
              Top News
            </button>
            <span *ngFor="let side of carouselImages">
              <a href={{side.href}} target="_blanket">
                <button type="button" class="list-group-item list-group-item-action">{{side.title}}</button>
              </a>
            </span>
          </div>
        </div>

        <ngb-carousel class="col-md-6" *ngIf="carouselImages">
          <span *ngFor="let news of carouselImages">
            <ng-template ngbSlide>
              <a [href]="news.href" target="_blanket">
                <img [src]="news.image" alt="Random first slide">
                <div class="carousel-caption">
                  <span style="background-color: #000000; color:#ffffff">{{news.title}}</span>
                </div>
              </a>

            </ng-template>
          </span>
        </ngb-carousel>

        <div class="col-md-2"></div>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4" *ngFor='let blog of lindaBlog | async'>
            <a [href]="blog.href" target="_blank">
              <div class="card mb-4 shadow-sm">
                <div>
                  <img [src]="blog.image" class="card-img-slide img-fluid" [alt]="blog.title" height="100%"
                    width="100%" />
                </div>
                <div class="card-body">
                  <h6 class="card-title"><strong>{{blog.title}}</strong></h6>
                  <p class="card-text"><small>{{blog.summary}}</small> </p>
                  <small class="text-muted">{{blog.date}}</small>
                </div>
              </div>
            </a>

          </div>

        </div>

      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
</body>

</html>