/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
}

a:hover {
    color:inherit;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:link {
    color:inherit;
    background-color: transparent;
    text-decoration: none;
  }
    
  .col-md-4 a:hover{
    cursor: pointer;
    text-decoration: none;
  }

 div .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

div .card-img-slide {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

