/* You can add global styles to this file, and also import other style files */


a:hover {
    color:inherit;
    cursor: pointer;
    text-decoration: none;
  }
  
  a:link {
    color:inherit;
    background-color: transparent;
    text-decoration: none;
  }
    
  .col-md-4 a:hover{
    cursor: pointer;
    text-decoration: none;
  }

